<!DOCTYPE html>
<html>
<head>
	<title>Bitsify</title>
	<link rel="icon" href="/images/bitsify.png" sizes="16x16">
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/materialize.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="/css/fonts.css" type="text/css" rel="stylesheet">
	<link href = "/css/jquery-ui.css"
	   rel = "stylesheet">
	   <script src = "/js/jquery-ui.js"></script>
	   <script type="text/javascript" src="/js/touchPunch.min.js"></script>

</head>
<body>
	<div id="preload" style="position: fixed;">
		<img src="/images/bitsify.png" style="width: 200px;height: 200px">
		<h2 style="text-align: center">Bitsify</h2>
	</div>
	<div id="main">
		<div id="controls_flex_container_bg">
			
		</div>
		<div id="modal1" class="modal">
		  <div class="modal-content" style="color: black;">
		    <h4>Instructions</h4>
		    <p>Click on the song's title to play the song</p><br>
		    <p><strong>Search : </strong>To search just enter a keyword (from title or artist name) and search results will appear automatically</p><br>
		    <p><strong>Buttons : </strong></p>
		    <ul>
		    	<li><i class="small material-icons" style="font-size:22px;margin-top: 20px">launch</i> opens the youtube video for the currently playing song in a floating player(iframe). This player is not draggable by default</li>
		    	<li><i class="small material-icons" style="font-size:22px;margin-top: 20px">visibility_off</i> can be used to hide/show the youtube popup player</li>
		    	<li><i class="small material-icons" style="font-size:22px;margin-top: 20px">lock_outline</i> is used to toggle the draggable functionality of the player. Once enabled and youtube controls will not work. They will work on disabling it again.</li>
		    </ul><br>
		    <p>You can add songs to your now playing list from the music list or from search list, but to play from the now playing playlist you need to play any one song from that list (prefferably the top one because that's where you want your playlist to start from). You can not remove individual songs from the playlist right now :( By the way the playlist is sortable.</p>
		  </div>
		  <div class="modal-footer">
		    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
		  </div>
		</div>
		<div id="modal2" class="modal">
		  <div class="modal-content" style="color: black;">
		    <form id="backup_form">
		    	<input type="text" id="playlistname" name="playlistname" placeholder="Enter the playlist name" autocomplete="off" required>
		    	<button type="submit" id="saveConfirm" class="waves-effect waves-green btn-flat">Save</button>
		    </form>
		  </div>
		</div>
		<div id="modal3" class="modal">
		  <div class="modal-content" style="color: black;">
		    <form id="restore_form">
		    	<input type="text" id="loadPlaylistname" name="loadPlaylistname" placeholder="Enter the playlist name to load" autocomplete="off" required>
		    	<button type="submit" id="loadConfirm" class="waves-effect waves-green btn-flat">Load</button>
		    </form>
		  </div>
		</div>
		<div id="background">
			<img id="bg_img" src="/images/bg.png">
		</div>
		<div id="warning-message" style="position: fixed;width: 100%;height: 100%;">
			<h1 style="position: fixed;" id="warning_text">Plese rotate your device</h1><br>
			<i  style="position: fixed" class="material-icons large" id="warning_icon">stay_primary_landscape</i>
		</div>
		<div id="music_player">

			<div id="nav_flex_container">
			<form id="search_form">
				<input type="text" name="search" id="search_song" placeholder="Enter Keyword" autocomplete="off">
				<input type="submit" style="position: absolute; left: -9999px"/>


			</form>
			<div id="search_results"></div>
			</div>
			<div id="window">
				<% include ./table %>
			</div>

			<div id="controls_flex_container">
				<div id="song_info">
					<div id="art_holder">
						<img id="art_now_playing" src="/images/none.png" alt="x"> 
					</div>
					<div id="info_holder">
						<h6 id="title_now_playing"><strong><%= list[0].title%></strong></h6>
						<h6 id="album_now_playing"><%= list[0].album%></h6>
					</div>
				</div>
				<div id="controls">
					<div id="playback_buttons">
						<audio preload="none" id="audio_player">
							<source id="song_source" src="<%= list[0].path%>">
						</audio>
						<i class="small material-icons" id="replay" style="font-size: 22px;">replay_30</i>
						<i class="small material-icons" id="previous" style="font-size: 22px;">skip_previous</i>
						<i class="small material-icons" id="play">play_circle_outline</i>
						<i class="small material-icons" id="next" style="font-size: 22px;">skip_next</i>
						<i class="small material-icons" id="forward" style="font-size: 22px;">forward_30</i>
					</div>
					<div id="slider">
						<h6 id="timeNow"><span>00</span>:<span>00</span></h6>
						<div id='progress'>
			      			<div id='progress-bar'></div>
			    		</div>
			    		<h6 id="length"><span>00</span>:<span>00</span></h6>	
					</div>
				</div>
				<div id="other_controls">
					<i class="small material-icons" id="youtube" style="font-size:22px;margin-top: 20px">launch</i>
					<i class="small material-icons" id="youtube_status" style="font-size:22px;margin-top: 20px">visibility_off</i>
					<i class="small material-icons" id="click_status" style="font-size:22px;margin-top: 20px">lock_outline</i>
					<i class="small material-icons" id="help" style="font-size:22px;margin-top: 20px" onclick="$('#modal1').modal('open')">info</i>



				</div>
			</div>
			<div id="user_flex_container">
				<form id="youtube_search_form">
					<input type="text" name="search" id="youtube_search" placeholder="Search Youtube" autocomplete="off">
					<input type="submit" id="youtube_button" value="Go" style="position: absolute; left: -9999px" class="black" />
				</form>
				<br>
				
				<h6 style="font-weight:600 ;padding-left:5px">Now Playing
					<span>
						<i class="material-icons small" id="remove_now_playing" style="font-size: 15px">loop</i><br><br>
						<button class="waves-effect waves-green btn-flat" style="display: inline-block;width: 40%" id="backup_playlist">Save</button>
						<button class="waves-effect waves-green btn-flat" style="display: inline-block;width: 40%" id="restore_playlist">Load</button>
					</span>
				</h6>
				
				<table id="now_playing_list">
					<tbody id="now_playing_list_body" style="overflow-y: scroll; font-size: .88em">
						
					</tbody>
				</table>
			</div>
		</div>
		<div id="youtube_holder" style="position: absolute;bottom: 100px;right: 100px; width: 17vmax; height: 11vmax;">
		<div id="iframeFix" style="display:block; background:transparent; position:absolute; width:17vmax; height:11vmax; z-index:9999999;"></div>

			<iframe id="youtube_player" style="width: 17vmax;height: 11vmax;" 
			src="" allowfulscreen>
			</iframe>
		</div>
	</div>
	<script src="/js/playerControls.js"></script>
	<script src="/js/fileReader.js"></script>
	<script src="/js/id3-minimized.js"></script>
<!-- 	<script src="/js/id3extractor.js" ></script>
 -->	<script>
 		$('#art_now_playing').attr('src',"data:image/jpeg;base64,<%= list[0].image%>");
 		$('#preload').fadeIn(2000);

	</script>
	<style type="text/css">
	    #warning-message { display: none; }
	    @media only screen and (orientation:portrait){
	        #music_player { display:none; }
	        #warning-message { display:block; }
	    }
	    @media only screen and (orientation:landscape){
	        #warning-message { display:none; }
	    }
	    .search_result_list:hover{
	    	cursor: pointer;
	    }
	    #youtube_player{
	    	display: none;
	    }
	</style>
</body>

</html>

