#main{
	display: none;
}
#preload{
	display: none;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
}
html, body{
	background:#000;
	width: 100%;
	height: 100%;
	font-family: Roboto;
	color:white;
	overflow-y: hidden;
	overflow-x: hidden;
	cursor: default;
	-webkit-user-select: none;
	   -moz-user-select: -moz-none;
	    -ms-user-select: none;
	        user-select: none;
}
input,
textarea {
     -moz-user-select: text;
}
#background{
	z-index: -1;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#bg_img{
	width: 100%;
	height: 100%;
	z-index:0;
}
#music_player{
	z-index: 9;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
#head{
	text-align: center;
}
#nav_flex_container{
	position: fixed;
	left: 0;
	top: 0;
	height: 90%;
	width: 13vmax;
	background-color: rgba(255,255,255,.05);
	overflow-y: auto;
	overflow-x: hidden;
}
#user_flex_container{
	position: fixed;
	right: 0;
	top: 0;
	height: 90%;
	width: 13vmax;
	background-color: rgba(255,255,255,.05);
	overflow-y: scroll;
	overflow-x: hidden;
}
#window::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000;
}

#window::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#window::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: #333;
}

#nav_flex_container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000;
}

#nav_flex_container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#nav_flex_container::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: #333;
}
#user_flex_container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000;
}

#user_flex_container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#user_flex_container::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: #333;
}
#controls_flex_container{
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 9%;
	background-color: rgba(255,255,255,.1);
}
#controls_flex_container_bg{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 9%;
	transition: background .6s;
}
#song_info{
	display: flex;
	width: 19%;
/*	border: 1px solid red;
*/	height: 100%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
tbody{
	border-top-color: #4f4f4f;
}
#controls{
	display: flex;
	width: 100%;
	flex-direction: column;
}
#other_controls{
	display: flex;
/*	border: 1px solid red;
*/	height: 100%;
	width: 19%;
}
#art_holder{
	width: 50px;
	height: 50px;
	margin:5px 12px 5px 8px;
}

#art_now_playing{
	width: 50px;
	height: 50px;
	transition: all 0.5s;
	position: fixed;
	bottom: 8px;
	cursor: pointer;
}

#title_now_playing{
	padding: 3px 3px 1px 3px;
	font-size: 11px;
	font-weight: 300;
	transition: all 0.7s;
}
#album_now_playing{
	padding: 1px 2px 2px 2px;
	font-size: 10px;
	transition: all 0.7s;
}

#playback_buttons{
	height: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 0px
}
#slider{
	height: 30%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 2px;
	margin-top: -1px;
}
audio{
	display: none;
}
.material-icons{
	font-weight: lighter;
	padding: 0px 10px;
}
#play{
	font-size: 30px;
}
i{
	cursor: pointer;
}
#progress {
  user-select: none;
  cursor: pointer;
  margin:5px; 
  clear: both;
  overflow: hidden;
  position: relative;
  height: 2px;
  width: 45%;
  background: #888;
  border-radius: 3px;
  transition: all 0.5s;
}
#progress #progress-bar {
  height: 100%;
  width: 0%;
  background: #ddd;
  border-radius: 5px;
  position: relative;		
  transition: background 0.5s;

}
#timeNow, #length{
	padding: 0px 7px;
	font-size: 10px;
}
#window{
	position: fixed;
	height: 88%;
	width: 60%;
	top: 0px;
	left: 210px;
	background: rgba(255,255,255,0.05);
	overflow-y: auto;
	overflow-x: hidden;
	transition: all .4s;
}
tr,td{
	font-weight: 100;
	font-size: 1em;
	padding: 5px;
	transition: all 0.3s;
}

.title:hover{
	cursor: pointer;
}

.list_span:hover{
	text-decoration: underline;
}
th{
	padding-top: 6px;
	padding-bottom: 7px; 
	font-weight: 300;
	font-size: .8em;
	color: #7f7f7f;
}
.albumhere{
   	display:block;
}

#search_song{
	margin-left: 20%;
	text-align: center;	
	font-size: .8em;
	color: white;
	height: 3em;
	padding:0px 2px;
	width: 60%;
	margin-top: 10px;
	transition: all 0.5s;
}
#search_song:focus{
	margin-left: 10%;
	width: 80%;
}

#youtube_holder{
	display: none;
}
::selection{
	color: black;
	background: white;
}
tr{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #181818;
}
#youtube_search{
	padding: 4px 7px;
	text-align: center;	
	background: transparent;
	font-size: .8em;
	color: white;
	margin-left: 20%;
	height: 3em;
	padding:0px 2px;
	width: 60%;
	margin-top: 10px;
	transition: all 0.5s;
	border-width: 0px 0px 1px 0px
}
#youtube_search:focus{
	margin-left: 10%;
	width: 80%;
}
/*.black{
	border-width: 2px;
	border-style: solid;
	border-color: gray;
	transition: border-radius 0.6s;
	border-radius: 10%;
}
.black:hover{
	border-radius: 50%;
}*/
.hover{
	background-color: #222;
}
.hover2{
	background-color: #222;
}
._row:hover{
	background-color: #222;
}